

.ratingsContainer {
    display:flex;
    margin: 10px 0px;
    
}
/* .dStar{
    transform: scale(2.0)
} */

.colored-in {
    color: var(--two)

}

.not-colored-in {
   color: gray;
}

.starCard {
   

}

/*  enlarges stars for the BusinessShowDisplay */
.starDisplay { 
    transform: scale(3);
    margin: 25px;
}