

#homeContainer {
    display: flex;

}

.heroContainer {
    /* background-image: url("../../assets/lawn.jpg"); */
    position: absolute;
    top:0;
    left: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    /* background-color: aqua; */
    background-color: var(--three);
}

#app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    /* z-index: 100; */
}

.heroContainer h1, .heroContainer p {
    color: #fff;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
