
#demoUserFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
   
    /* background-color: lightblue; */


}

#titleDUF {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 400px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--two);
    background-color: white;  
}
#formDUF {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    /* background-color: pink; */
    margin: 20px 20px 20px 20px;
   
}



/* input {
    height: 30px;
    border-radius: 5px;
    margin: 5px;

}
input:not(#submit) {
    padding-left: 20px;
} */

#submitDUF {
 
    margin-left: 25px;
    height: 35px;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--two);
    color: white;
    
    font-weight:bolder;
}