 /* from a starting state to an ending state */
 @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

/* fadein is name of animation */
/* there are 7 animation properties */
.fadeIn {
    animation-name: fadeIn; /* animation name refers to the name of the keyframe */
    animation-duration: 1s; /* duration of one animation lap */
    animation-timing-function: linear; /* defines the accelaration curve for the animation */
    /* animation-delay: 0s; */
    /* animation-iteration-count: 1; */
    /* animation-direction: ; */
    animation-fill-mode: forwards;
  }

  
 
  
  .fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
 
  .slider {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100vw;
    height: 100vh;
  }
  
  .slide.active {
    opacity: 1;
  }
  