

#containerLOGO{
    display: flex;
   
    justify-content: center;
    align-items: center;
    width:min(80px, 100%);
    height:min(var(--nbh),100%);
}
#logo {
    height: calc(var(--nbh) * 0.7);
    width: calc(var(--nbh) * 0.7);
    border-radius: calc(var(--nbh) * 0.5);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    /* background-color: blue; */

}