

.navContainer {  
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-left: 25px;
    
    width: 100%;
    height: var(--nbh);   

    background-color: aqua;
}


#searchBarContainer1{
    background-color: transparent;
}

#buttonsContainer1 {
    background-color: transparent;
} 

