
#containerNBut {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: calc(var(--nbh) * 7);
    height: var(--nbh);
    padding-right: 3rem;
}

#login-button {
    border: 2px solid white;
    background-color: transparent;
    padding-left: 13px;
    padding-right: 13px;
}

#review-button {
    background-color: transparent ;
    border: none;
}

.git { 
    color:black;
    
}

.myCustomIcon svg {
    width: 50px !important;
    height: 50px !important;
}