




#ratingContainer {
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 10px;    
    align-items: center;
    width: 100%;
    
    
}

#ratingContainer input[type="radio"] {
  display: none;
}
/* #ratingContainer input[type="radio"]:checked + label {
  color: #fff;
  background-color: #007bff;
} */
#ratingContainer label:hover {
 
  color: #59a1e0;
}
.star {
  transform: scale(1.5);
  margin: 7px;
}


.colored-in {
    color: blue;

}

.not-colored-in {
   color: gray;
}

/* .rating-input {
    display: flex;
    margin-right: 4px;
  }
  
  .review-item {
    display: flex;
  }
  
  .rating-input .filled {
    color: #5cb9ff;
  }
  
  .fa-solid .fa-star .empty {
    color: rgba(92,185,255, 0.4);
  }
  
  .sort {
    display: flex;
    list-style: none;
  }
  
  .sort li {
    cursor: pointer;
    margin: 0 4px;
  }
  
  .sort li.active {
    font-weight: bold;
    text-decoration: underline;
    pointer-events: none;
  }

  .colored-in {
    color: blue;

}

.not-colored-in {
   color: gray;
}
    */