

#ratingContainerN {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
   
}


#ratingContainerN input[type="radio"] {
    display: none;
}
#ratingContainerN label:hover {
    color: #59a1e0;
}
.star {
    transform: scale(1.5);
    margin: 7px;
}

.colored-in-N {
    color: var(--two);
}

.not-colored-in-N {
    color: gray;
}
