




#ratingContainer {
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 10px;    
    align-items: center;
    width: 100%;
    
    
}
.colored-in {
  color: var(--two)

}

.not-colored-in {
 color: gray;
}

#ratingContainer input[type="radio"] {
  display: none;
}
/* #ratingContainer input[type="radio"]:checked + label {
  color: #fff;
  background-color: #007bff;
} */
#ratingContainer label:hover {
 
  color: #59a1e0;
}
.star {
  transform: scale(1.5);
  margin: 7px;
}


.colored-in {
    color: var(--two)

}

.not-colored-in {
   color: gray;
}

