#combinedFormContainerNR{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40rem;
    height:50rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--two);
    border-radius: 1rem;
    background-color: var(--one);
}

#formNR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(500px, 40%);
    height: 100vh;
}

#ratingReviewN {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    background-color: blueviolet;
}
.title {
    background-color: transparent;
}

.italic {
    font-style: italic;
}
.textareaLarge {
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    font-size: 12pt;
    font-style: italic;
    color: var(--two);
}
/* .textareaLarge {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    height: 100%;
} */

.imgRN {
    height: 100px;
    margin-top: 15px;
    border-radius: 15px;
}

.titleRN {
    background-color: transparent;
}

.submitRN {
    margin-top: 20px;
}