.containerSB{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height:var(--nbh);
}



.formSB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapInputSB {
    
    display: flex;
    align-items:normal;
    justify-content: center;
       
}
.wrapInputSB  input[type="text"] {
    flex-grow: 1;
  }


.inputSB {
    display: flex;
    padding-left: 20px;
    border: none;
    outline: none;
    width: 200px;
    height: var(--bh)   
} 

.dropdownSB {
    position: absolute;
    top: 100%;
    left: 20;
  }

  
  
  .dropdown ul li {
    padding: 5px;
  }
  
  .dropdown ul li:hover {
    background-color: #f4f4f4;
  }
.leftEnd {
    border-radius: 7px 0px 0px 7px;
}

.buttonSB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bh);
    height: var(--bh);
    border-radius: 0px 7px 7px 0px;
}
/* .searchBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px; 
    background: white;   
     border-radius: 6px;
  
} */




/* .rightSearchBar {
    display: flex;
    flex: 1;

    height:100%;
    margin: 0;
    border:none;
    border-radius:none;
 
    
} */

/* .SBcontainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    height:100%;
} */
/* .outerSB {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
   
}
.innerSB {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: var(--two);
    color: white;
    

} */
/* .SBInputWrap {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
 .SBInput {
    border: none;
    outline: none;

    
} 
/* .SBDropDown{
    background-color: white;
    color: black;
    font-style: italic;
    font-size: smaller;
    padding:10px;
    margin: 10px;
    border-radius: 14px;

}
.SBDropDown.hidden {
    display: none;
   

}  */


