#businessContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow-y: scroll;
}
#bannerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(800px, 50%);
    background-color: transparent;
    margin-top: 75px;
}

#frontContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(350px, 50%);
    z-index: 20;
    background-color: red;
}
#backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.leftBanner {
    display: flex;
    flex-grow: 1;
}
.centerBanner {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#bannerSearchBar {
    width: 75%;
}
.secondLine {
    font-size: smaller;
}
.rightBanner {
    display: flex;
    flex-grow: 1;
}

.cardContainer {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100%;
}

.greenText {
    color: var(--three);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
