#businessContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-color: transparent;
   
    overflow-y: scroll;
}
#bannerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(800px, 50%);
    /* z-index:20; */
     /* background-color: red; */
    background-color: transparent;
    margin-top: 75px;
}

/* #businessFrontContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: black;
} */
#frontContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(350px, 50%);
    z-index:20;
     background-color: red;
    /* background-color: transparent; */
}
#backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
   
    /* background-image: url('https://zelp99-seeds.s3.us-west-1.amazonaws.com/Sprouts_a1.jpeg'); */
    /* background-color: #5cb9ff; */
    /* background-color: rgba(92,185,255, 0.1); */  
}


/* .bannerContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max(350px, 50%);
    z-index:20;
     /* background-color: red; */
    /* background-color: transparent; */


.leftBanner {
    display: flex;
    flex-grow: 1;
 
    /* background-color: aqua; */
    /* background-color: transparent; */
}
.centerBanner {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#bannerSearchBar{
    width: 75%;
}
.secondLine {
    font-size: smaller;
}
.rightBanner {
    display: flex; 
    flex-grow: 1;
}

/* .bottomBanner{
    display: flex;
    align-items: flex-end;
    height: 40%;

    font-weight: bold;
    /* background-color: transparent; */

/* } */

.cardContainer {
    display: flex;
    justify-content: start;
    align-items: start;
    /* flex-grow: 1; */
    width: 100vw;
    height: 100%;

}

.greenText {
    color:var(--three)
}





