#uploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
    padding: 0;
}
.form-photo-upload {
    display: flex;
    height: max(200px, 30%);
    padding: 20px;
    border: blue 1px solid;
    border-radius: 15px;
}

/* .photoInput {
    width: 200px;
} */
.photoTitle {
    margin-top: 10px;
    margin-bottom: 10px;
} 

.photoInput {
   display: none; /* This hides the actual input */
}

.customFileUpload {
   padding: 10px;
   background-color: #f0f0f0;
   cursor: pointer;
   border-radius: 5px;
   /* Add more styles as needed */
}
