#uploadContainer {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin: 0;
   padding: 0;
}
.form-photo-upload {
    display: flex;
    height: max(200px, 30%);
    padding: 20px;
    border: blue 1px solid;
    border-radius: 15px;
}

.photoInput {
   width: 200px;
 
}
.photoTitle{
   margin-top:20px;
}

