
#reviewNewSubmitContainer {
    display: flex;


}
.button {
    height: 35px;
    padding: 3px;
    border-radius: 5px;
    color: white;
    /* background-color: rgb(102, 102, 174); */
    background-color: #5cb9ff;
    padding-left: 10px;
    padding-right: 10px;
    margin: 30px 0px;
   
}