

#navContainer {  
    width: 100vw;
    height: 75px; 
    display: flex;
    align-items: space-between;
    /* background-color: bisque; */
   

   
}
#navContainer.index {
   background-color:  rgba(92,185,255, 0.5);
   
}

.nav-link {
    /* display: flex;
    color: white;
    font-weight: 700;
    align-items: center;
     */
}

img {
    height: 50px;
    width: 50px;
}



#logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    background-color: transparent;
    width: 150px

}



#searchBarContainer {
    /* background-color: green; */
    background-color: transparent;
    flex: 1;

}

#buttonsContainer {
    /* background-color: yellowgreen; */
    background-color: transparent;
     width: 40%;

} 

